		<div class="ui one column page grid">
			<div class="ui column">
				<div class="game-container">
					<div id="game"></div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			var matrix = {{{matrix}}};
			var marked = {{{marked}}};
		</script>

{{#section 'scripts'}}
	<script type="text/javascript" src="/javascript/sudoku.js"></script>
	<script type="text/javascript" src="/javascript/modules/game.js"></script>
{{/section}}
