		<div class="ui two column grid">
			<div class="eight wide column">
				<div class="ui segment">
					<h3 class="ui header">
						<i class="grid layout icon"></i>
						How to use
					</h3>

					<div class="ui accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							<div class="text">Fill sudoku field with start numbers</div>
						</div>
						<div class="title">
							<i class="dropdown icon"></i>
							<div class="text">Press "solve" button</div>
						</div>
						<div class="title">
							<i class="dropdown icon"></i>
							<div class="text">Wait until system will find a solution (lasts few seconds)</div>
						</div>
						<div class="title">
							<i class="dropdown icon"></i>
							<div class="text">Enjoy solved sudoku</div>
						</div>
					</div>
				</div>
			</div>
			<div class="eight wide column">
				<div class="ui segment">
					<div id="sudoku"></div>
				</div>
			</div>
		</div>	
{{#section 'scripts'}}
	<script type="text/javascript" src="/javascript/sudoku.js"></script>
	<script type="text/javascript" src="/javascript/modules/main.js"></script>
{{/section}}
