		<div class="ui one column page grid">
			<div class="ui column">
				<table class="ui table segment" id="history">
					<thead>
						<tr>
							<th>When</th>
							<th>IP Address</th>
							<th>Solved in</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{{#each records}}
							<tr>
								<td><i class="calendar icon"></i>{{date}}</td>
								<td>{{ip}}</td>
								<td><i class="time icon"></i>{{time}}</td>
								<td><a class="ui tiny black button" href="/game/{{order}}">Open</a></td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
