		<div class="ui one column page grid">
			<div class="ui column">
				<table class="ui table segment" id="history">
					<thead>
						<tr>
							<th>When</th>
							<th>IP Address</th>
							<th>Solved in</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><i class="calendar icon"></i>22 minute(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>13 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>3 hour(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>2 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>1 day(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>5 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>22 minute(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>13 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>3 hour(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>2 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>1 day(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>5 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>22 minute(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>13 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>3 hour(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>2 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>1 day(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>5 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>22 minute(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>13 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>3 hour(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>2 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>1 day(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>5 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>22 minute(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>13 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>3 hour(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>2 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>1 day(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>5 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>22 minute(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>13 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>3 hour(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>2 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
						<tr>
							<td><i class="calendar icon"></i>1 day(s) ago</td>
							<td>83.178.216.... (Latvia)</td>
							<td><i class="time icon"></i>5 second(s)</td>
							<td><a class="ui tiny black button" href="#">Open</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		

{{#section 'scripts'}}
	<script type="text/javascript" src="/javascript/recent.js"></script>
	<script type="text/javascript" src="/javascript/modules/recent.js"></script>
{{/section}}