		<div class="ui one column page grid">
			<div class="ui column">
				<div class="ui rules segment">
					<h2>How to play Sudoku game</h2>
					<p>Sudoku is played over a 9x9 grid, divided to 3x3 sub grids called "regions":</p>
					<img src="/img/screen/region.png">
					<p>Sudoku begins with some of the grid cells already filled with numbers:</p>
					<img src="/img/screen/field.png">
					<p>The object of Sudoku is to fill the other empty cells with numbers between 1 and 9 
					(1 number only in each cell) <b>according the following guidelines:</b></p>
					<p>1. Number can appear only once on each row:</p>
					<img src="/img/screen/row_ok.png">
					<br>
					<img src="/img/screen/row_not_ok.png">
					<p>2. Number can appear only once on each column:</p>
					<img src="/img/screen/col_ok.png">
					<br>
					<img src="/img/screen/col_not_ok.png">
					<p>3. Number can appear only once on each region:</p>
					<img src="/img/screen/region_ok.png">
					<br>
					<img src="/img/screen/region_not_ok.png">
					<p><b>A summary of these guidelines would be, that a number should appear only once on each row, 
					column and a region.</b></p>
				</div>
			</div>
		</div>
